.video-float {
  width: 320px !important;
  height: 180px !important;
  top: 0px !important;
  left: 0px !important;
}

.container-float {
  width: 320px !important;
  height: 180px !important;
  position: fixed !important;
  right: 40px !important;
  bottom: 40px !important;
  z-index: 2 !important;
  border: 1px solid white !important;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4) !important;
}

.chrome-bottom-float {
  width: 296px !important;
}

.progress-bar-float {
  width: 296px !important;
}

.chrome-controls-float {
  width: 296px !important;
}

.time-display-float {
  display: none !important;
}

.multicam-float {
  display: none !important;
}

.size-float {
  display: none !important;
}
