.video-float {
  width: 427px !important;
  height: 240px !important;
  top: 0px !important;
  left: 0px !important;
}

.container-float {
  width: 427px !important;
  min-height: unset !important;
  height: 240px !important;
  position: fixed !important;
  right: 40px !important;
  bottom: 40px !important;
  z-index: 2 !important;
  border: 1px solid white !important;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4) !important;
}

.chrome-bottom-float {
  width: 403px !important;
}
